.hero{
	background-size: cover;
	background-color: white;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	margin: 0px auto 100px auto;
	max-width: 1920px;
	z-index: -1;
}



#hs-hero{
	background-image: url(images/scene_ocean.jpg);
	background-attachment: fixed;
}

#pf-hero{
	background-image: url(images/scene_germany-2.jpg);
	background-attachment: fixed;
}

#cv-hero{
	background-image: url(images/scene-urban.jpg);
	background-attachment: fixed;
}

#contact-hero{
	background-image: url(images/scene_germany-1.jpg);
	background-attachment: fixed;
}



.hero h1 {

	margin: 0;
    position: relative;
    width: 95%;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	letter-spacing: 3px;
	text-align: center;

}

.hero h5{
	margin: 0;
    position: relative;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
	text-align: center;
	padding: 0px 100px;
	color: #b6b6b6;
	
}



.hero-background-filter{
	position: absolute;
	height: 100vh;
	width: 100%;
	opacity: 0.7;
	background-color: #13322d;
	max-width: 1920px;
	margin: auto;
}





@media only screen and (max-height:27.5em) {

.hero h1 {
	margin: 0;
    position: relative;
    width: 95%;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
	text-align: center;
}

.hero h5{
	visibility: hidden;
}

}


@media only screen and (max-width: 60em) {
/*60em*/


.hero h1 {
	margin: 0;
    position: relative;
    width: 95%;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
	text-align: center;
}

.hero h5{
	margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
	text-align: center;
	padding: 0px 100px;
}


}

@media only screen and (max-width: 37.5em) {
/*37.5em*/

.hero h1 {
	margin: 0;
    position: relative;
    width: 95%;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
	text-align: center;
	padding: 0px ;
}

.hero h5{
	margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
	text-align: center;
	padding: 0px 50px;
}



}

@media only screen and (max-width: 23.5em) {
/*23.5em*/

.hero h1 {
	margin: 0;
    position: relative;
    width: 90%;
    top: 40%;
    left: 50%;
   	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
	text-align: center;
	padding: 0px 2em;
}

.hero h5{
	margin: 0;
    position: relative;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
	text-align: center;
	padding: 0px 20px;
}



}






