.main_nav {
    position: fixed;
    top: 0px;
    height: auto;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    z-index: 1;

    background:#2f2e2e;
    opacity: 0.8;
    max-width: 1920px;
}

.main_nav a {
    position: relative;
    font-family: 'Roboto slab', sans-serif;
    font-size:1.5em;
    letter-spacing: 2px;
    color: #FFF;
    padding: 15px 10px 15px 10px;
    margin: 0px 20px 0px 20px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    text-decoration: none;
}


.main_nav a:hover {
  color: #98f9e8;
}


#henrisalmela-link{

  float: left;
}

#cv-link{
 float: right;
}

#contact-link{
 float: right;
}


#portfolio-link{
 float: right;
}
/*
*/


.main_nav .current {
  text-decoration: underline;
}




@media only screen and (max-width: 60em) {

.main_nav a {
    font-size:1.2em;
}


@media only screen and (max-width: 37.5em) {



.main_nav {
    position: fixed;
    margin:auto;
    height: 55px;
    width: 100%;
    overflow: hidden;
    background-color:#2f2e2e;
    z-index: 1;
    text-align: center;
}

.main_nav a {
    display: inline-block;
    font-family: 'Roboto slab', sans-serif;
    font-size:1.2em;
    letter-spacing: 0px;
    color: #EEEEF0;
    margin: 10px 10px 10px 10px;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
}

#portfolio-link {
  float: none;
}

#cv-link {
  float: none;

}
#contact-link {
  float: none;
}

#henrisalmela-link {
  float: none;
}

}

@media only screen and (max-width: 23.5em) {



.main_nav {
    position: fixed;
    margin:auto;
    height: 55px;
    width: 100%;
    overflow: hidden;
    background-color:#2f2e2e;
    z-index: 1;
    text-align: center;
}

.main_nav a {
    display: inline-block;
    font-family: 'Roboto slab', sans-serif;
    font-size:1.2em;
    letter-spacing: 0px;
    color: #EEEEF0;
    margin: 10px 5px 10px 5px;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
}

#portfolio-link {
  float: none;
}

#cv-link {
  float: none;

}
#contact-link {
  float: none;
}

#henrisalmela-link {
  float: none;
}

}

