.promote {
	display: inline-block;
	height: auto;
	width: 100%;
	background-color: #ffed8a; 
	opacity: 0.8;
	text-align: center;
	margin: 70px 0px 0px 0px;

}

.promote h2{
	margin: 70px 0px 50px 0px;
	width: 100%;
	color:  #333333;
}

.promote h5{
	margin: 0px 0px 70px 0px;

}


.promote  a {
	text-decoration: none;
    color: #333333;
    -webkit-transition: 0.3s;
    transition: 0.3s;	
  
 
    text-decoration: none;
    border-bottom: 2px solid #333333;

    
}

.promote  a:hover {
    opacity: 1;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;

}


@media only screen and (max-width: 37.5em) {

.promote {
	margin: 0px 0px 0px 0px;

}


}