.promote {
	display: inline-block;
	height: auto;
	width: 100%;
	background-color: #a9f9eb;
	opacity: 0.8;
	text-align: center;
	margin: 100px 0px 0px 0px;

}

.promote h2{
	margin: 100px 0px 50px 0px;
	width: 100%;
	color: #2b443f;
}

.promote h5{
	margin: 0px 0px 100px 0px;

}


.promote  a {
	text-decoration: none;
    color: #4a7970;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;	
    opacity: 0.7;
    font-weight: lighter;
    text-decoration: underline;
}

.promote  a:hover {
    opacity: 1;
}





@media only screen and (max-width: 37.5em) {

.promote {
	margin: 100px 0px 0px 0px;

}


}