.promote {
	display: inline-block;
	height: auto;
	width: 100%;
	background-color: #8ad2c5;
	opacity: 0.8;
	text-align: center;
	margin: 100px 0px 0px 0px;

}

.promote h2{
	margin: 70px 0px 50px 0px;
	width: 100%;
	color: #fff;
}

.promote h5{
	margin: 0px 0px 70px 0px;

}


.promote  a {
	text-decoration: none;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;	
  
    font-weight: lighter;
    text-decoration: none;
    border-bottom: 2px solid #fff;

    
}

.promote  a:hover {
    opacity: 1;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;

}


.main_nav .current {

}

.main_nav .current:hover {
  border-bottom: 2px solid transparent;
}





@media only screen and (max-width: 37.5em) {

.promote {
	margin: 50px 0px 0px 0px;

}


}