html {

	margin: auto;
	max-width: 1920px;
}



body {  
	margin: 0px;
	--backColor: #fafafa;
	background-color: var(--backColor);
}







/*colors: light turkose tint*/


h1 {
	color: #f2f2f2;

}

h2 {
	color: #4a7970;
	}


h3 {
	color: #476e66;
}

h4 {
	color: #476e66;
}

h5 {
	color: #476e66;
}

p {
	color: #2b443f;
}

li{
    color: #2b443f;
}



